@charset "utf-8";


#store1{
width: 100%;
max-width: 767px;
}

#store2{
width: 100%;
max-width: 767px;
}

#store3{
width: 100%;
max-width: 767px;
}


#news1{
width: 100%;
max-width: 767px;
}

#news2{
width: 100%;
max-width: 767px;
}

#news3{
width: 100%;
max-width: 767px;
}